<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/fly</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">Blackstar78045!</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="hibernate.cache.region_prefix.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
    <property name="hibernate.javax.cache.uri">/ehcache-config.xml</property>

    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Aircrafts"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Airports"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.BoardingPasses"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Bookings"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Flights"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Seats"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.TicketFlights"/>
    <mapping class="com.dinoelnirgihc.hibernatelearnfly.entity.Tickets"/>
  </session-factory>
</hibernate-configuration>